* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    height: 60px;
    background-color: rgb(141, 107, 148);
    line-height: 60px;
    color: #fff4e9;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.scorecard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#usercard {
    font-size: 4rem;
}

#compcard {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: rgb(75, 25, 77);
    color: #fff4e9;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}